.delete-car-container {
  margin: 8% 30%;
}

.delete-head {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.delete-para {
  text-align: center;
  font-size: 1.1rem;
  margin: 2% 0;
  width: 100%;
  line-height: 25px;
}
